table {
	border-collapse: collapse; 
}

table tr th {
	padding: 10px;
	border-bottom: 1px solid #000;
	text-align: left;
}

table tbody tr {
	position: relative;
	cursor: pointer;
	border: 1px dashed rgba(0,0,0,0);
}

table tbody tr.row-checked {
	border: 1px dashed #000;
	background-color: rgb(63, 207, 226);
	
}

/*table tr {
	background-color: #efefef;
}*/

table tr td {
	padding: 10px;	
}

table tr td:nth-child(1) {
	border-right: 1px solid #000;
}

/*table tr:nth-child(odd) {
	background-color: #fff;
}*/

#data {
	width: 600px;
	margin: 0 auto;
}